
.close-symbol {
    display: none;
}



.shopping-cart-button {
    background-color: #125fca;
    height: 60px;
    width: 80%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px 2px rgb(100 100 100/ 50%);
}



@media (max-width: 1100px) {
    .whole-side-left-container {
        width: 50%;
    }

    .impressum-text {
        height: 100vh;
    }
}

@media (max-width: 1000px) {
    .responsive-d-none {
        display: none;
    }

    .shopping-cart {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        width: 100%;
    }

    .shopping-cart-header {
        display: flex;
        justify-content: space-between;
    }

    .close-symbol {
        display: flex;
        height: 30px;
        padding-right: 15px;
        cursor: pointer;
    }
    
    .shopping-basket-title {
        border-bottom: none;
    }


    .shopping-cart-button {
        display: flex;
    }
}



@media (max-width: 760px) {
    .address {
        margin-right: 0px;
    }

    .menu-bar {
        justify-content: flex-start;
    }

    .impressum-text {
        height: 100vh;
    }
}



@media (max-width: 600px) {
    .deliverino-text {
        display: none;
    }

    .header-at {
        display: none;
    }

}



@media (max-width: 500px) {
    .burgerino-logo {
        height: 100px;
    }

    .address {
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .burger-image {
        height: 158px;
    }

    h1 {
        font-size: 22px;
    }

    .stars-valuation {
        height: 35px;
    }

    .info-icons-container {
        width: 280px;
    }

    .info-icons-container span {
        font-size: 13px;
    }

    .menu-bar a {
        font-size: 14px;

    }

    .food-picture {
        height: 130px;
    }

    .food-picture-description span {
        font-size: 17px;
    }

    .food-picture-description p {
        font-size: 13px;
    }

    h3 {
        font-size: 16px;
    }

    .food-description span {
        font-size: 13px;
    }

    .food-description p {
        font-size: 17px;
    }

    .deliverino-text-footer {
        font-size: 19px;
    }

    .footer-at {
        font-size: 19px;
    }

    .footer-links a {
        font-size: 13px;
        margin-left: 13px;
    }
}



@media(max-width: 410px) {
    .deliverinoLogo {
        padding-left: 15px;
    }

    .burgerMenu {
        padding: 0px 15px;
    }

    .burger-image {
        height: 140px;
    }

    .burgerino-logo-container {
        top: 88px;
    }

    h1 {
        padding-left: 15px;
        margin-top: 40px;
    }

    .valuation {
        padding-left: 15px;
    }

    .info-icons-container {
        padding-left: 15px;
    }

    .food-picture-container {
        margin: 15px 15px;
    }

    .food {
        margin: 15px 15px;
    }


    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
    }

    .footer-logo {
        padding-left: 15px;
    }

    .footer-links a {
        padding-bottom: 3px;
        margin-left: 10px;
        border-bottom: 2px solid #0a3847;
        margin-bottom: 8px;
    }

    .footer-links a:hover {
        border-bottom: 2px solid white;
        transition-duration: 0.2s;
    }

    .h1-impressum {
        font-size: 23px;
    }

    .impressum-text p {
        font-size: 13px;
    }

    h2 {
        font-size: 19px;
    }
}



@media (max-width: 330px) {
    .deliverinoLogo {
        padding-left: 10px;
    }

    .burgerMenu {
        padding: 0px 10px;
    }


    .burgerino-logo-container {
        top: 90px;
    }

    .burgerino-logo {
        height: 90px;
    }

    h1 {
        padding-left: 10px;
    }

    .valuation {
        padding-left: 10px;
        width: 210px;
    }

    .info-icons-container {
        padding-left: 10px;
        width: 274px;
    }

    .food-picture-container {
        margin: 10px 10px;
    }

    .food {
        margin: 10px 10px;
    }

    .footer-links {
        padding-right: 15px;
    }

    .footer-logo {
        padding-left: 15px;
    }

    .deliverino-text-footer {
        font-size: 16px;
    }

    .footer-at {
        font-size: 16px;
    }

    .h1-datenschutz {
        font-size: 22px;
    }
}